// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 	background-color: white;
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
 	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

a {
  color: inherit;
}


.the-header,
.the-footer {

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
	max-width: 100%;
}