// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color--gray-light);
  color: var(--color--text-black);
  transition: color .6s, background-color .6s;
  margin:0;
  padding:0;
}

a {
  color: inherit;
  transition: color 0.2s linear;
  text-decoration: none;
}

.main p a {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    border-bottom: 1px solid var(--color--gray-tertiary-light);
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: border-color 0.2s linear;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    // padding: 2px 0px 4px 7px;
    // background-position: center right;
    padding: 2px 0px 4px 8px;
    background-position: 90% 60%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDYuMDM0MzZWNi4yNzc0SDkuNTEzODNWMC44MjQ2MTlMMC4zNDMyMDQgMTBMMCA5LjY1NjhMOS4xNzUzOCAwLjQ4NjE3MUgzLjcyMjZWMEg5Ljk5OTkzTDEwIDYuMDM0MzZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    // transition: all 0.2s linear;
  }

  &:hover {

    &::before {
      border-color: var(--color--navy-light);
    }

    &::after {
      background-position: 100% 50%;
    }
  }
}

p {

  a {
    
    &:hover {
      color: var(--color--navy-light);
    }
  }
}


.the-header,
.the-footer {

  a {
    // text-decoration: none;

    &:hover {
      color: var(--color--navy);
    }
  }
}

img {
	max-width: 100%;
}