// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
}

body {
  background-color: var(--color--gray-light);
  color: var(--color--text-black);
  transition: color .6s, background-color .6s;
  margin:0;
  padding:0;
}

a {
  color: inherit;
  transition: color 0.2s linear;
  text-decoration: none;
}

p {

  a {
    
    &:hover {
      color: var(--color--navy-light);
    }
  }
}


.the-header,
.the-footer {

  a {
    // text-decoration: none;

    &:hover {
      color: var(--color--navy);
    }
  }
}

img {
	max-width: 100%;
}