// https://gridsome.org/docs/assets-css/#global-preprocessor-files-ie-variables-mixins

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Mobile phone cutoff
$screen-mobile-max: 480px;

// Tablets (smaller end of the spectrum, portrait view)
$screen-tablet-min: calc(#{$screen-mobile-max} + 1px);
$screen-tablet-max: 768px;

// Small screens and laptops (non-HD, smaller tablets, etc.)
$screen-laptop-min: calc(#{$screen-tablet-max} + 1px);
$screen-laptop-max: 1024px;

// Desktops (non-HD and smaller-sized)
$screen-desktop-min: calc(#{$screen-laptop-max} + 1px);
$screen-desktop-max: 1440px;

// HD Screens
$screen-hd-min: calc(#{$screen-desktop-max} + 1px);
$screen-hd-max: 2300px;

// 4k Screen cutoff
$screen-4k-min: calc(#{$screen-hd-max} + 1px);

@mixin tablet {
  @media (min-width: #{$screen-tablet-min}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-laptop-min}) {
    @content;
  }
}

@mixin laptop-down {
  @media (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-desktop-min}) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: #{$screen-laptop-max}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$screen-hd-min}) {
    @content;
  }
}

@mixin hd-down {
  @media (max-width: #{$screen-desktop-max}) {
    @content;
  }
}

@mixin four-k {
  @media (min-width: #{$screen-4k-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
