.background {

  &--white {
    background-color: var(--color--white);
  }

  &--gray-light {
    background-color: var(--color--gray-light);
  }
}

.color {

  &--white {
    color: var(--color--white);
  }
}