.background {

  &--white {
    background-color: var(--color--white);
  }

  &--gray-light {
    background-color: var(--color--gray-light);
  }

  &--gray-tertiary {
    background-color: var(--color--gray-tertiary);
  }

  &--gray-tertiary-light {
    background-color: var(--color--gray-tertiary-light);
  }

  &--navy {
    background-color: var(--color--navy);
    color: var(--color--white);
  }
}

.color {

  &--white {
    color: var(--color--white);
  }

  &--navy {
    color: var(--color--navy);
  }

  // &--black {
  //   color: var(--color--text-black);
  // }

  &--gray-tertiary {
    color: var(--color--gray-tertiary);
  }

  &--gray-tertiary-light {
    color: var(--color--gray-tertiary-light);
  }
}