::selection {
  background: var(--color--gray-tertiary-light);
  color: var(--color--text-black);
}

.background {

  &--white {
    background-color: var(--color--white);
  }

  &--gray-light {
    background-color: var(--color--gray-light);
  }

  &--gray-secondary {
    background-color: var(--color--gray-secondary);
  }

  &--gray-tertiary {
    background-color: var(--color--gray-tertiary);
  }

  &--gray-tertiary-light {
    background-color: var(--color--gray-tertiary-light);

    ::selection {
      background: var(--color--gray-light);
    }
  }

  &--navy {
    background-color: var(--color--navy);
    color: var(--color--white);

    ::selection {
      background: var(--color--gray-light);
    }
  }
}

.color {

  &--white {
    color: var(--color--white);
  }

  &--navy {
    color: var(--color--navy);
  }

  &--navy-light {
    color: var(--color--navy-light);
  }

  &--gray {
    color: var(--color--gray);
  }

  &--gray-tertiary {
    color: var(--color--gray-tertiary);
  }

  &--gray-tertiary-light {
    color: var(--color--gray-tertiary-light);
  }
}