.input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  input {
    flex: 1;
    border: 1px solid var(--color--gray-tertiary);
  }
}

input {
  background-color: transparent;
  border: none;
  height: 38px;
  font: inherit;
  font-size: var(--small-font-size);
  padding: 9px;
}

form {

  label {
    padding-bottom: 15px;

    @include desktop-down {
      padding: 15px 0;
    }
  }

  button {
    color: var(--color--white);
    background: var(--color--navy);
    width: 150px;
  }
}