.grid {
  @include container;

  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(1, 1fr);
  
  @include desktop {
    grid-column-gap: var(--grid-gap);
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
