.grid {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-gap);

  @include desktop {
    display: grid;
  }

  &--mobile {
    
    @include desktop-down {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: var(--grid-gap);
    }
  }

  &--2 {
    grid-template-columns: repeat(2, 1fr);

    &-tablet {

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-laptop {

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &--6 {

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  &--12 {

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }

  > {

    .grid--span {
      &-5 {
        grid-column: span 5;

        &-desktop {

          @include desktop {
            grid-column: span 5;
          }
        }
      }
    }
  }
}

@include laptop {

  .col-span {

    &--1 {
      grid-column: span 1;
    }

    &--2 {
      grid-column: span 2;
    }

    &--3 {
      grid-column: span 3;
    }

    &--4 {
      grid-column: span 4;
    }

    &--5 {
      grid-column: span 5;
    }

    &--6 {
      grid-column: span 6;
    }

    &--7 {
      grid-column: span 7;
    }
  }
}

.grid__card {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -14px;
    left: 0;
    background: currentColor;
    pointer-events: none;
    transition: width 575ms ease-in-out;
  }

  &:hover {

    &::after {
      width: calc(2 / 3 * 100%);
    }
  }
}
