.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include laptop {
    grid-column-gap: var(--grid-gap);
  }

  &--2 {
    grid-template-columns: repeat(2, 1fr);

    &-tablet {

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-laptop {

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &--6 {

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  &--12 {

    &-desktop {

      @include desktop {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }

  > {

    .grid--span {
      &-5 {
        grid-column: span 5;

        &-desktop {

          @include desktop {
            grid-column: span 5;
          }
        }
      }
    }
  }
}

.col-span {

  &--1 {
    grid-column: span 1;
  }

  &--2 {
    grid-column: span 2;
  }

  &--4 {
    grid-column: span 4;
  }

  &--5 {
    grid-column: span 5;
  }

  &--6 {
    grid-column: span 6;
  }

  &--7 {
    grid-column: span 7;
  }
}

.image-grid-ignore {
  // The full width element wrapping all of these needs to have 'position: relative;' applied to it.

  &__inner {
    height: 100%;

    @include desktop {
      position: absolute;
    }

    .base-image,
    .base-image__inner {
      height: 100%;
    }
  }
}
