.link-list {

  a {
    padding-top: 32px;

    &:first-child {
      padding-top: 26px;
    }
  }
}

a.scrollactive-item {
  transition: color 0.2s linear;

  &.is-active {
    color: var(--color--navy);
  }
}