.link-list {

  a {
    padding-top: 23px;

    &:first-child {
      padding-top: 26px;
    }

    @include desktop {
      padding-top: 32px;

      &:first-child {
        padding-top: 5px;
      }
    }
  }
}

a.scrollactive-item {
  transition: color 0.2s linear;

  &.is-active {
    color: var(--color--navy);
  }
}

.pre-footer__navigation {
  grid-column: span 12;
  align-items: flex-start;

  a {
    text-decoration: none;

    @include desktop-down {
      width: min-instrinsic;
      width: min-content;
      -ms-grid-columns: min-content;
      display: flex;
      flex-direction: column;

      &.next {
        flex-direction: column-reverse;
        text-align: right;
      }
    }
  }
}
