.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 750ms;
}

.work-feed-slide__hero,
.project-hero,
.hero--secondary,
.cookies--hero {
  .lazyloaded {
    transition: opacity 1000ms;
  }
}

.have-u-seen-me {
  opacity: 0;
  transition: opacity 750ms linear;

  &.pre-seent,
  &.view-in {
    opacity: 1;
  }

  &.seent-it {
    opacity: 1;
  }
}
