.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 750ms;
}

.have-u-seen-me {
  opacity: 0;
  transition: opacity 750ms linear;

  &.seent-it {
    opacity: 1;
  }
}