@mixin container {
  width: inherit;
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}

@mixin container--left {
  max-width: 100%;
  margin-left: var(--grid-margin);
  margin-right: calc(var(--grid-gap) / 2);
}

@mixin container--right {
  max-width: 100%;
  margin-right: var(--grid-margin);
  margin-left: calc(var(--grid-gap) / 2);
}
