@mixin container {
  width: inherit;
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}

@mixin container--left {
  max-width: 100%;
  margin-left: var(--grid-margin);
  margin-right: calc(var(--grid-gap) / 2);
}

@mixin container--right {
  max-width: 100%;
  margin-right: var(--grid-margin);
  margin-left: calc(var(--grid-gap) / 2);
}

@mixin visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}
