@mixin container {
  width: 100%;
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}

@mixin container--left {
  margin-left: var(--grid-margin);
}

@mixin container--right {
  margin-right: var(--grid-margin);
}
