@mixin container {
  width: 100%;
  padding-left: calc(var(--grid-gap) / 2);
  padding-right: calc(var(--grid-gap) / 2);

  @include laptop {
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin);
  }
}