.swiper {

  &__pagination {
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @include desktop-down {
      transform: translateY(-43px);
      position: absolute;
      width: 100%;
    }

    @include desktop {
      margin-top: 38px;
    }

    .swiper-pagination-bullet {
      margin: 0 5.5px;
      opacity: 0.25;
      background-color: var(--color--gray-tertiary);
      width: 14px;
      height: 14px;
      transition: all 0.2s ease-in-out;

      @include desktop {
        width: 20px;
        height: 20px;
        margin: 0 7.5px;
      }

      &-active,
      &:hover {
        opacity: 1;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 15.85vw;
    color: white;
    width: 50px;
    height: 100px;

    &::after {
      content: '';
    }
  }

  .swiper-button-prev {
    left: 3.5%;
  }

  .swiper-button-next {
    right: 3.5%;

    svg {
      transform: rotate(180deg);
    }
  }
}
