.swiper {

  &__pagination {
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 22vh;
    color: white;
    width: 50px;
    height: 100px;

    &::after {
      font-size: 70px;
    }
  }

  .swiper-button-prev {
    left: 3%;
  }

  .swiper-button-next {
    right: 3%;
  }
}
