.swiper {

  &__pagination {
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 22vh;
    color: white;
    width: 50px;
    height: 100px;

    &::after {
      font-size: 70px;
    }
  }

  .swiper-button-prev {
    left: 3%;
  }

  .swiper-button-next {
    right: 3%;
  }
}

.swiper__pagination {
  position: relative;
  z-index: 2;

  @include desktop-down {
    transform: translateY(-43px);
  }

  @include desktop {
    margin-top: 38px;
  }

  .swiper-pagination-bullet {
    margin: 0 5.5px;
    opacity: 0.25;
    background-color: var(--color--gray-tertiary);
    width: 14px;
    height: 14px;

    @include desktop {
      width: 20px;
      height: 20px;
      margin: 0 7.5px;
    }

    &-active {
      opacity: 1;
    }
  }
}