.swiper {

  &__pagination {
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @include desktop-down {
      transform: translateY(-43px);
      position: absolute;
      width: 100%;
    }

    @include desktop {
      margin-top: 38px;
    }

    .swiper-pagination-bullet {
      margin: 0 5.5px;
      opacity: 0.25;
      background-color: var(--color--white);
      width: 14px;
      height: 14px;
      transition: all 0.2s ease-in-out;

      @include desktop {
        width: 20px;
        height: 20px;
        margin: 0 7.5px;
        background-color: var(--color--gray-tertiary);
      }

      &-active,
      &:hover {
        opacity: 0.7;
        
        @include desktop {
          opacity: 1;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    // top: 59.85vw;
    color: white;
    width: 5%;
    height: auto;
    // height: 100px;
    transform: translateY(-25%);

    &:focus,
    *:focus {
      outline: none;
    }

    @include desktop {
      width: var(--grid-margin);
    }

    &::after {
      content: '';
    }

    svg {
      width: 100%;
      max-width: 55px;
      min-width: 26px;

      @include desktop {
        max-width: 115px;
        min-width: 100px;
        padding: 0 27px 0 34px;
      }
    }
  }

  .swiper-button-prev {
    left: var(--grid-margin);

    @include desktop {
      left: 0;
    }

    svg {
      margin-left: auto;
    }
  }

  .swiper-button-next {
    right: var(--grid-margin);

    @include desktop {
      right: 0;
    }

    svg {
      transform: rotate(180deg);
      margin-right: auto;
    }
  }
}

.swiper-slide {

  &-active {
    opacity: 1 !important;
  }

  &:not(.swiper-slide-active) {

    .image-caption {
      opacity: 0;
    }
  }

  @-moz-document url-prefix() {

    &:not(.work-feed__slide) {
      width: 100% !important;

      .base-image {
        width: calc(100% + 2px);
        transform: translateX(-1px);
      }
    }
  }

  .image-caption {

    @include desktop-down {
      @include visually-hidden;
    }
  }
}
