@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Book.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Medium.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Bold.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family-primary: 'Mallory', sans-serif;
  --body-font-size: 16px; 
  --body-line-height: 25px; 
  --display-font-size: 16px;
  --display-line-height: 25px;
  --letter-spacing: 0.03em;
  --letter-spacing--lg: 0.07em;
  --h1-font-size: 50px; 
  --h1-line-height: 50px;
  --h2-font-size: 25px;
  --h2-line-height: 27px;
  --h2-margin-bottom: 16px;
  --h3-font-size: 32px;
  --h3-font-size--alt: 26px;
  --h3-line-height: 40px;
  --h4-font-size: 20px;
  --h4-line-height: 22px;
  --h5-font-size: 18px;
  --h5-line-height: 18px;
  --h5-line-height--alt: 29px;
  --small-font-size: 14px;
  --small-line-height: 22px;
  --x-small-font-size: 16px;
  --x-small-line-height: 22px;
  --xx-small-font-size: 10px;
  --xx-small-line-height: 14px;
  --button-font-size: 16px;
  --button-line-height: 20px;
  --sub-font-size: 13px;
  --sub-font-size--alt: 11px;
  --sub-font-size--lg: 16px;
  --sub-line-height: 16px;
  --sub-line-height--alt: 14px;
  --sub-line-height--lg: 20px;
}

@include laptop {
  :root {
    --body-font-size: 18px; // 20 - 16
    --body-line-height: 27px; // 30 - 25
    --display-font-size: 26px;
    --display-line-height: 39px;
    --h1-font-size: 58px; // 65 - 50
    --h1-line-height: 61px; // 68 - 50
    --h2-font-size: 32px; // 40 - 25
    --h2-line-height: 38px; // 46 - 27
    --h2-margin-bottom: 34px; // 42 - 26
    --h3-font-size: 34px; // 36 - 32
    --h3-line-height: 46px; // 48 - 40
    --h4-font-size: 23px; // 25 - 20
    --h4-line-height: 28px; // 30 - 22
    --h5-font-size: 22px; // 25 - 18
    --h5-line-height: 32px; // 38 - 18
    --small-font-size: 16px; // 18 - 14
    --small-line-height: 27px; // 29 - 22
    --xx-small-font-size: 12px; // 13 - 10
    --xx-small-line-height: 17px; // 18 - 14
    --button-font-size: 18px; // 20 - 16
    --button-line-height: 30px; // 32 - 20
    --sub-font-size: 14px; // 15 - 13
    --sub-font-size--lg: 18px; // 20 - 16
    --sub-line-height: 17px; // 18 - 16
    --sub-line-height--lg: 28px; // 30 - 20
  }
}

@include hd {
  :root {
    --body-font-size: 20px; 
    --body-line-height: 30px;
    --display-font-size: 32px;
    --display-line-height: 48px;
    --h1-font-size: 65px; 
    --h1-line-height: 68px; 
    --h2-font-size: 40px;
    --h2-line-height: 46px;
    --h2-margin-bottom: 42px;
    --h3-font-size: 36px;
    --h3-line-height: 48px;
    --h4-font-size: 25px;
    --h4-line-height: 30px;
    --h5-font-size: 25px;
    --h5-line-height: 38px;
    --small-font-size: 18px;
    --small-line-height: 29px;
    --xx-small-font-size: 13px;
    --xx-small-line-height: 18px;
    --button-font-size: 20px;
    --button-line-height: 32px;
    --sub-font-size: 15px;
    --sub-font-size--lg: 20px;
    --sub-line-height: 18px;
    --sub-line-height--lg: 30px;
  }
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: var(--body-font-size); 
  line-height: var(--body-line-height);
  letter-spacing: var(--letter-spacing);
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";
}

p {
  margin-bottom: 13px;

  @include desktop {
    margin-bottom: 17px;
  }
}

.h1 {
  font-size: var(--h1-font-size); 
  line-height: var(--h1-line-height);
}

.h2 {
  font-size: var(--h2-font-size); 
  line-height: var(--h2-line-height);
  letter-spacing: var(--letter-spacing--lg);
  margin-bottom: var(--h2-margin-bottom);
}

.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

.h3--alt {

  @include desktop-down {
    font-size: var(--h3-font-size--alt);
  }
}

.h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

.h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: 500;
}

p.h5,
.h5 p {

  &:not(:last-child) {

    margin-bottom: 24px;

    @include desktop {
      margin-bottom: 21px;
    }
  }
}

.h5--alt {
  font-weight: 500;

  @include desktop-down {
    line-height: var(--h5-line-height--alt);
    font-weight: 400;
  }
}

.display {
  font-size: var(--display-font-size);
  line-height: var(--display-line-height);
}

.small {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.xsmall {
  font-size: var(--x-small-font-size);
  line-height: var(--x-small-line-height);
}

.xxsmall {
  font-size: var(--xx-small-font-size);
  line-height: var(--xx-small-line-height);
}

@keyframes slideOutIn {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0, 1, 1);
  }
}

@keyframes slideInOut {
  from {
    transform: scale3d(0, 1, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.button {
  position: relative;
  font-size: var(--button-font-size);
  color: var(--color--gray-tertiary);
  line-height: var(--button-line-height);
  display: table;
  font-weight: 500;
  letter-spacing: var(--letter-spacing--lg);
  padding-bottom: 7px;
  text-decoration: none;
  // transition: all 0.2s ease-in-out;
  width: max-content;

  @include desktop {
    padding-bottom: 3px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: currentColor;
    pointer-events: none;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  &::before {
    transform-origin: 0% 50%;
    z-index: 2;
  }

  &::after {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    animation-delay: 0.5s;
  }

  &:hover {

    &::before {
      transform-origin: 100% 50%;
      animation-name: slideOutIn;
    }

    &::after {
      transform-origin: 0% 50%;
      animation-name: slideInOut;
    }
  }
}

.button.color--white,
.background--navy .button {

  color: var(--color--white);
  border-color: var(--color--white);
}

.sub {
  font-size: var(--sub-font-size);
  line-height: var(--sub-line-height);
  letter-spacing: var(--letter-spacing--lg);
}

.sub.sub--alt {

  @include desktop-down {
    font-size: var(--sub-font-size--alt);
    line-height: var(--sub-line-height--alt);
  }
}

.sub--lg {
  font-size: var(--sub-font-size--lg);
  line-height: var(--sub-line-height--lg);
  letter-spacing: var(--letter-spacing--lg);
}

strong {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

ul { 
  list-style-type: disc; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol { 
  list-style-type: decimal; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}