@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Book.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Medium.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mallory';
  src: url('~@/assets/fonts/Mallory-Bold.woff2') format('woff2'),
      url('~@/assets/fonts/Mallory-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family-primary: 'Mallory', sans-serif;
  --body-font-size: 16px; 
  --body-line-height: 25px; 
  --letter-spacing: 0.03em;
  --letter-spacing--lg: 0.07em;
  --h1-font-size: 50px; 
  --h1-line-height: 50px;
  --h2-font-size: 25px;
  --h2-line-height: 27px;
  --h2-margin-bottom: 26px;
  --h3-font-size: 32px;
  --h3-font-size--alt: 26px;
  --h3-line-height: 40px;
  --h4-font-size: 20px;
  --h4-line-height: 22px;
  --h5-font-size: 18px;
  --h5-line-height: 18px;
  --h5-line-height--alt: 27px;
  --button-font-size: 16px;
  --button-line-height: 20px;
}

@include desktop {
:root {
  --body-font-size: 20px; 
  --body-line-height: 30px; 
  --h1-font-size: 65px; 
  --h1-line-height: 68px; 
  --h2-font-size: 40px;
  --h2-line-height: 46px;
  --h2-margin-bottom: 42px;
  --h3-font-size: 36px;
  --h3-line-height: 48px;
  --h4-font-size: 25px;
  --h4-line-height: 30px;
  --h5-font-size: 25px;
  --h5-line-height: 38px;
  --button-font-size: 20px;
  --button-line-height: 32px;
}
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: var(--body-font-size); 
  line-height: var(--body-line-height);
}

p {
  margin-bottom: 13px;

  @include desktop {
    margin-bottom: 17px;
  }
}

.h1 {
  font-size: var(--h1-font-size); 
  line-height: var(--h1-line-height);
  letter-spacing: var(--letter-spacing);
}

.h2 {
  font-size: var(--h2-font-size); 
  line-height: var(--h2-line-height);
  letter-spacing: var(--letter-spacing--lg);
  margin-bottom: var(--h2-margin-bottom);
}

.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--letter-spacing);
}

.h3--alt {

  @include desktop-down {
    font-size: var(--h3-font-size--alt);
  }
}

.h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

.h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}

p.h5,
.h5 p {

  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 21px;
  }
}

.home .h5,
.h5--alt {
  font-weight: 500;

  @include desktop-down {
    line-height: var(--h5-line-height--alt);
  }
}

.button {
  font-size: var(--button-font-size);
  color: var(--color--gray-tertiary);
  line-height: var(--button-line-height);
  display: table;
  font-weight: 500;
  letter-spacing: var(--letter-spacing--lg);
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid var(--color--gray-tertiary);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color--navy);
    border-color: var(--color--navy);
  }

  &.color--white {
    color: white;
    border-color: white;

    &:hover {
      color: var(--color--gray-tertiary-light);
      border-color: var(--color--gray-tertiary-light);
    }
  }
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

ul { 
  list-style-type: disc; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol { 
  list-style-type: decimal; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}