.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.container {
  @include container;
}

.container--right {

  @include desktop {
    @include container--right;
  }

  @include desktop-down {
    @include container;
  }
}

.container--left {

  @include desktop {
    @include container--left;
  }

  @include desktop-down {
    @include container;
  }
}

.o-h {
  overflow: hidden;
}

// Spacing
body .p-mobile-copy-block {

  @include desktop-down {
    padding: 42px 0 100px;
  }
}

.p-150 {
  padding-top: 100px;
  padding-bottom: 100px;

  @include desktop {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.p-100 {
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.mb-100 {
  margin-bottom: 80px;

  @include desktop {
    margin-bottom: 100px;
  }
}

.p-60 {
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.p-40 {
  padding-top: 25px;
  padding-bottom: 25px;

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.pt-100 {
  padding-top: 80px;

  @include desktop {
    padding-top: 100px;
  }
}

.pt-80 {
  padding-top: 60px;

  @include desktop {
    padding-top: 80px;
  }
}

.pt-60 {
  padding-top: 40px;

  @include desktop {
    padding-top: 60px;
  }
}

.pb-60 {
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 60px;
  }
}

.pb-40 {
  padding-bottom: 25px;

  @include desktop {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 20px;

  @include desktop {
    padding-top: 30px;
  }
}

.pb-30 {
  padding-bottom: 20px;

  @include desktop {
    padding-bottom: 30px;
  }
}

.pb-20 {
  padding-bottom: 10px;

  @include desktop {
    padding-bottom: 20px;
  }
}

.pt-20 {
  padding-top: 10px;

  @include desktop {
    padding-top: 20px;
  }
}

.pb-15 {
  padding-bottom: 10px;

  @include desktop {
    padding-bottom: 15px;
  }
}

.pb-80 {
  padding-bottom: 60px;

  @include desktop {
    padding-bottom: 80px;
  }
}

.mb-40 {
  margin-bottom: 25px;

  @include desktop {
    margin-bottom: 40px;
  }
}

.mb-15 {
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 15px;
  }
}

.mb-30 {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 30px;
  }
}

.mb-20 {
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 20px;
  }
}

.mb-60 {
  margin-bottom: 40px;

  @include desktop {
    margin-bottom: 60px;
  }
}

.mb-80 {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 80px;
  }
}

.mb-100 {
  margin-bottom: 80px;

  @include desktop {
    margin-bottom: 100px;
  }
}

.mt-60 {
  margin-top: 40px;

  @include desktop {
    margin-top: 60px;
  }
}

.mt-hh {
  margin-top: var(--margin-top--hero-header);
}

// Typographic utils
.upper {
  text-transform: uppercase;
}

// Width, height
.w-100 {
  width: 100%;
  max-width: 100vw;
}

.two-up {
  display: flex;
  flex-wrap: wrap;

  > * {
    // max-width: 100vw;

    @include desktop {
      width: 50%;
      max-width: 50vw;
    }
  }
}

.h-100vh {
  height: calc(100vh - var(--header-height));

  > .base-image {
    height: 100%;

    .base-image__inner {
      height: 100%;
    }
  }
}

.h-60vh {
  height: calc(60vh - var(--header-height));
}

.mw-readable {
  max-width: var(--max-width--readable);

  &--small {
    max-width: var(--max-width--readable-sm);
  }

  &--large {
    max-width: var(--max-width--readable-lg);
  }
}

// Object Fit, img handling, etc.
.img-cover {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

// Flex Related Utils
.flex {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

// Absolute Positioning Shenanigans
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.z-1 {
  z-index: 1;
}

// Layout!
.copy {

  &--right {

    .copy-wrapper {
      order: 3;
    }

    .grid-spacer {
      order: 2;
    }

    &.image {

      &--full {
        
        .image-wrapper {
          margin-left: calc(var(--grid-margin) * -1);
        }
      }
    }
  }

  &--left {

    &.image {

      &--full {

        .image-wrapper {
          margin-right: calc(var(--grid-margin) * -1);
          grid-column-end: 13;
        }

        .grid--6-desktop {

          .image-wrapper {
            grid-column-end: 7;
          }
        }
      }
    }
  }
}

.layered-image-gallery {
  position: relative;

  &__image {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s linear;

    &:first-child {
      opacity: 1;
    }
  }
}

.show-me {
  opacity: 1 !important;
}

.fade {
  background: rgb(248,247,247);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(248,247,247,1) 100%);
}

.overlay {
  background-color: var(--color--navy);

  &::after {
    content: '';
    position: absolute;
    top: 0; left: 0; 
    width: 100%;
    height: 75%;  
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.625) 76%);
    // height: 70%;  
    // background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
  }
}

.background-stretch {
  position: relative;

  &::before {

    @include desktop {
      content: "";
      position: absolute;
      background-color: inherit;
      height: 100%;
      width: 100%;
      transform: translateX(100%);
    }
  }
}

.mobile-only {

  @include desktop {
    display: none !important;
  }
}

.desktop-only {
  
  @include desktop-down {
    display: none !important;
  }
}