.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.container {
  @include container;
}

.container--right {

  @include desktop {
    @include container--right;
  }

  @include desktop-down {
    @include container;
  }
}

.container--left {

  @include desktop {
    @include container--left;
  }

  @include desktop-down {
    @include container;
  }
}

.o-h {
  overflow: hidden;
}

// Spacing
.mb-lg {
  margin-bottom: var(--margin--large);
}

.mt-hh {
  margin-top: var(--margin-top--hero-header);
}

// Width, height
.w-100 {
  width: 100%;
  max-width: 100vw;
}

.two-up {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
    max-width: 100vw;

    @include desktop {
      width: 50%;
      max-width: 50vw;
    }
  }
}

.h-100vh {
  height: calc(100vh - var(--header-height));

  > .base-image {
    height: 100%;

    .base-image__inner {
      height: 100%;
    }
  }
}

.h-60vh {
  height: calc(60vh - var(--header-height));
}

.mw-readable {
  max-width: var(--max-width--readable);

  &--small {
    max-width: var(--max-width--readable-sm);
  }

  &--large {
    max-width: var(--max-width--readable-lg);
  }
}

// Object Fit, img handling, etc.
.img-cover {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.frame {
  position: relative;
  overflow: hidden;
}
.frame::after {
  content: "";
  display: block;
}
.frame > * {
  position: absolute;
}

// Flex Related Utils
.flex {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

// Absolute Positioning Shenanigans
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.z-1 {
  z-index: 1;
}