.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.container {
  @include container;
}

.container--right {

  @include desktop {
    @include container--right;
  }

  @include desktop-down {
    @include container;
  }
}

.container--left {

  @include desktop {
    @include container--left;
  }

  @include desktop-down {
    @include container;
  }
}

.o-h {
  overflow: hidden;
}

// Spacing
.p-150 {
  padding-top: 100px;
  padding-bottom: 100px;

  @include desktop {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.p-100 {
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.mb-100 {
  margin-bottom: 80px;

  @include desktop {
    margin-bottom: 100px;
  }
}

.p-40 {
  padding-top: 25px;
  padding-bottom: 25px;

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.mb-40 {
  margin-bottom: 25px;

  @include desktop {
    margin-bottom: 40px;
  }
}

.mb-lg {
  margin-bottom: var(--margin--large);
}

.mt-hh {
  margin-top: var(--margin-top--hero-header);
}

// Typographic utils
.upper {
  text-transform: uppercase;
}

// Width, height
.w-100 {
  width: 100%;
  max-width: 100vw;
}

.two-up {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
    max-width: 100vw;

    @include desktop {
      width: 50%;
      max-width: 50vw;
    }
  }
}

.h-100vh {
  height: calc(100vh - var(--header-height));

  > .base-image {
    height: 100%;

    .base-image__inner {
      height: 100%;
    }
  }
}

.h-60vh {
  height: calc(60vh - var(--header-height));
}

.mw-readable {
  max-width: var(--max-width--readable);

  &--small {
    max-width: var(--max-width--readable-sm);
  }

  &--large {
    max-width: var(--max-width--readable-lg);
  }
}

// Object Fit, img handling, etc.
.img-cover {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.frame {
  position: relative;
  overflow: hidden;
}
.frame::after {
  content: "";
  display: block;
}
.frame > * {
  position: absolute;
}

// Flex Related Utils
.flex {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

// Absolute Positioning Shenanigans
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.z-1 {
  z-index: 1;
}

// Layout!
.copy {

  &--right {

    .copy-wrapper {
      order: 3;
    }

    .grid-spacer {
      order: 2;
    }

    &.image {

      &--full {
        
        .image-wrapper {
          margin-left: calc(var(--grid-margin) * -1);
        }
      }
    }
  }

  &--left {

    &.image {

      &--full {

        .image-wrapper {
          margin-right: calc(var(--grid-margin) * -1);
          grid-column-end: 13;
        }

        .grid--6-desktop {

          .image-wrapper {
            grid-column-end: 7;
          }
        }
      }
    }
  }
}