.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.container {
  @include container;
}

.o-h {
  overflow: hidden;
}

// Width, height
.w-100 {
  width: 100%;
  max-width: 100vw;
}

.h-100vh {
  height: calc(100vh - var(--header-height));

  > .base-image {
    height: 100%;

    .base-image__inner {
      height: 100%;
    }
  }
}

// Object Fit, img handling, etc.
.img-cover {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.frame {
  position: relative;
  overflow: hidden;
}
.frame::after {
  content: "";
  display: block;
}
.frame > * {
  position: absolute;
}

// Flex Related Utils
.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

// Absolute Positioning Shenanigans
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.z-1 {
  z-index: 1;
}