// Default variables
html {
  --base-font-size: 17px;
}

body {
 	--bg-color: #282e41;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #444;
  --color--white: #fff;
  --color--gray-light: #F8F7F7;
  --color--gray-secondary: #EDEDED;
  --color--gray-tertiary: #908887;
  --color--navy: #282E41;
  --color--navy-light: #374059;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);
  --header-height: 53px;
  --margin-h: 27px;
  --margin-b: 97px;
  --margin-t: 43px;
  --margin-top--hero-header: 50px;
  --margin--large: 40px;
  --content-width: 860px;
  --radius: 5px;
  --grid-gap: 20px; // do not change
  --grid-margin: 0vw;
  --max-width--content: 1239px;
  --max-width--readable: 500px;
  --max-width--readable-sm: 370px;
  --max-width--readable-lg: 885px;
}

// Make things larger, starting with "laptop" widths
@include laptop {
	body {
    --grid-margin: 4vw;
    --margin-h: 118px;
    --margin--large: 100px;
    --header-height: 78px;
	}
}

// Make things larger, starting with "desktop" widths
@include hd {
	body {
    --grid-margin: 6vw;
	}
}

// Make things larger for 4k scenarios
@include four-k {
	body {
    --grid-gap: 40px; // do not change
    --max-width--readable: 1000px;
    --max-width--readable-sm: 740px;
    --max-width--readable-lg: 1770px;
	}
}

