// Default variables
html {
  --base-font-size: 17px;
}

body {
 	--bg-color: #282e41;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #444;
  --color--gray-light: #F8F7F7;
  --color--gray-secondary: #EDEDED;
  --color--gray-tertiary: #908887;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);;
  --header-height: 60px;
  --margin-h: 27px;
  --margin-b: 97px;
  --margin-t: 43px;
  --content-width: 860px;
  --radius: 5px;
}

// Make things larger after mobile
@media screen and (min-width: 651px) {
	html {
    --base-font-size: 20px;
	}
	body {
    --margin-h: 118px;
    --header-height: 80px;
	}
}
