// Default variables
html {
  --base-font-size: 17px;
}

body {
  --color--white: #fff;
  --color--text-black: #2B2828;
  --color--gray-light: #F8F7F7;
  --color--gray-secondary: #EDEDED;
  --color--gray-tertiary: #575757;
  --color--gray-tertiary-light: #CBD0CC;
  --color--navy: #282E41;
  --color--navy-light: #374059;
  --header-height: 53px;
  --margin-h: 27px;
  --margin-b: 97px;
  --margin-t: 43px;
  --margin-top--hero-header: 50px;
  --content-width: 860px;
  --grid-gap: 20px; // do not change
  --grid-margin: 7vw;
  --max-width--content: 1239px;
  --max-width--readable: 658px;
  --max-width--readable-sm: 370px;
  --max-width--readable-lg: 885px;
}

// Make things larger, starting with "laptop" widths
@include laptop {
	body {
    --grid-margin: 8.25vw;
    --margin-h: 118px;
    --header-height: 72px;
	}
}

// Make things larger, starting with "desktop" widths
// @include hd {
// 	body {
//     --grid-margin: 7.5vw;
// 	}
// }

// Make things larger for 4k scenarios
@include four-k {
	body {
    --grid-gap: 40px; // do not change
    --max-width--readable: 1000px;
    --max-width--readable-sm: 740px;
    --max-width--readable-lg: 1770px;
	}
}

